In [1]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
cg = CoinGeckoAPI()

In [2]:
coins = cg.get_coins_list()

In [4]:
coins_df = pd.DataFrame(coins, columns=["name"])

In [7]:
coins_df.tail()

                name
9436            Zyro
9437   Zytara Dollar
9438             ZYX
9439     zzz.finance
9440  zzz.finance v2

In [8]:
coins_market = cg.get_coins_markets(vs_currency='usd')

In [27]:
coins_market_df = pd.DataFrame(coins_market, columns=["id","current_price","market_cap"])

In [28]:
coins_market_df.head()

            id  current_price    market_cap
0      bitcoin       42270.00  793360291229
1     ethereum        2928.96  343375302501
2       tether           1.00   69323187269
3      cardano           2.12   67719742690
4  binancecoin         371.05   56952779588