In [1]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
cg = CoinGeckoAPI()

In [2]:
coins = cg.get_coins_list()

In [4]:
coins_df = pd.DataFrame(coins, columns=["name"])

In [7]:
coins_df.tail()

                name
9436            Zyro
9437   Zytara Dollar
9438             ZYX
9439     zzz.finance
9440  zzz.finance v2

In [8]:
coins_market = cg.get_coins_markets(vs_currency='usd')

In [27]:
coins_market_df = pd.DataFrame(coins_market, columns=["id","current_price","market_cap"])

In [28]:
coins_market_df.head()

            id  current_price    market_cap
0      bitcoin       42270.00  793360291229
1     ethereum        2928.96  343375302501
2       tether           1.00   69323187269
3      cardano           2.12   67719742690
4  binancecoin         371.05   56952779588

In [25]:
kot = cg.get_coin_history_by_id(id="bitcoin",date='06-09-2021',localization='false')
# kot_df = pd.DataFrame(kot,columns=["current_price", "market_cap"])
# kot_df
kot

{'id': 'bitcoin',
 'symbol': 'btc',
 'name': 'Bitcoin',
 'image': {'thumb': 'https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579',
  'small': 'https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1547033579'},
 'market_data': {'current_price': {'aed': 189882.28576669458,
   'ars': 5058442.781580594,
   'aud': 69418.85500872161,
   'bch': 68.45962121981758,
   'bdt': 4400764.212019643,
   'bhd': 19484.765469821603,
   'bmd': 51696.206431317885,
   'bnb': 102.86074575372997,
   'brl': 268370.516446901,
   'btc': 1.0,
   'cad': 64776.1221015378,
   'chf': 47251.004728908134,
   'clp': 39653575.143142395,
   'cny': 333590.4504806509,
   'czk': 1104282.6655793786,
   'dkk': 323437.31553754007,
   'dot': 1507.8358418136677,
   'eos': 8251.814294200132,
   'eth': 13.070863875782532,
   'eur': 43495.171939260115,
   'gbp': 37301.44944672385,
   'hkd': 401739.4915708006,
   'huf': 15124759.115610635,
   'idr': 737324561.2364969,
   'ils': 165456.8104558184,
   'inr': 3773551.7160986466,
   'jpy': 5674279.010314317,
   'krw': 59747879.26152651,
   'kwd': 15539.466083602756,
   'lkr': 10362338.789423632,
   'ltc': 226.7427486711384,
   'mmk': 85069152.6409886,
   'mxn': 1029710.887802204,
   'myr': 214358.3199674597,
   'ngn': 21274022.870615978,
   'nok': 448315.7057171604,
   'nzd': 72290.21740253629,
   'php': 2578100.826021793,
   'pkr': 8644413.933807699,
   'pln': 196032.79023065403,
   'rub': 3763308.0610980783,
   'sar': 193876.28297937135,
   'sek': 441847.47636847413,
   'sgd': 69318.92624168986,
   'thb': 1679092.7848892065,
   'try': 430068.28894827294,
   'twd': 1427952.562349659,
   'uah': 1390488.7351185314,
   'usd': 51696.206431317885,
   'vef': 5176.341149967864,
   'vnd': 1175307822.5295265,
   'xag': 2090.384184522319,
   'xau': 28.28247757650969,
   'xdr': 36410.465328880135,
   'xlm': 130677.5276589678,
   'xrp': 39811.477265534515,
   'yfi': 1.204132733697673,
   'zar': 739811.0209211252,
   'bits': 1000107.7060119398,
   'link': 1554.3114671212654,
   'sats': 100010770.60119398},
  'market_cap': {'aed': 3567566384898.291,
   'ars': 95023541903593.17,
   'aud': 1303984864770.6892,
   'bch': 1289076637.3492126,
   'bdt': 82682902237415.97,
   'bhd': 366085725306.53235,
   'bmd': 971284117138.44,
   'bnb': 1934762816.5147612,
   'brl': 5042227237300.779,
   'btc': 18807637.0,
   'cad': 1216945181181.5613,
   'chf': 887642956675.1802,
   'clp': 745023482051040.6,
   'cny': 6267599279482.64,
   'czk': 20746920127312.19,
   'dkk': 6076784686966.093,
   'dot': 28416680241.10482,
   'eos': 155559756360.37823,
   'eth': 245777125.96787506,
   'eur': 817204461216.183,
   'gbp': 700726127320.7067,
   'hkd': 7547994566900.383,
   'huf': 284172310284224.8,
   'idr': 13853079073733126,
   'ils': 3108653093948.5996,
   'inr': 70898642280775.14,
   'jpy': 106593575435357.98,
   'krw': 1122561405671528.8,
   'kwd': 291960235338.8777,
   'lkr': 194690786372236.38,
   'ltc': 4276396668.084353,
   'mmk': 1598305224357084.5,
   'mxn': 19344660735569.457,
   'myr': 4027429591714.534,
   'ngn': 399702839884810.75,
   'nok': 8422771894159.946,
   'nzd': 1357841597781.8977,
   'php': 48437541666489.984,
   'pkr': 162413889441434.25,
   'pln': 3683058865414.874,
   'rub': 70703170380917.03,
   'sar': 3642606824504.285,
   'sek': 8302931945935.054,
   'sgd': 1302686257906.074,
   'thb': 31527882442313.75,
   'try': 8082837022423.256,
   'twd': 26828808912313.867,
   'uah': 26124927082896.51,
   'usd': 971284117138.44,
   'vef': 97254678649.07193,
   'vnd': 22082042369745864,
   'xag': 39249377491.05852,
   'xau': 531272986.3923844,
   'xdr': 684090944246.4778,
   'xlm': 2460405336631.642,
   'xrp': 748314453703.3939,
   'yfi': 22641568.938939232,
   'zar': 13901212541308.771,
   'bits': 18810014991545.26,
   'link': 29261970528.96424,
   'sats': 1881001499154526.2},
  'total_volume': {'aed': 116674850495.86794,
   'ars': 3108204922327.4004,
   'aud': 42655029651.836914,
   'bch': 42065619.963307686,
   'bdt': 2704088506369.8696,
   'bhd': 11972586536.754433,
   'bmd': 31765191430.17128,
   'bnb': 63203695.30128625,
   'brl': 164902638271.44846,
   'btc': 614525.0285331015,
   'cad': 39802261339.876076,
   'chf': 29033797914.66513,
   'clp': 24365490086512.887,
   'cny': 204977603779.75204,
   'czk': 678536254139.887,
   'dkk': 198738920182.86646,
   'dot': 926503073.7626523,
   'eos': 5070400301.997725,
   'eth': 8031507.9545259,
   'eur': 26725993226.88038,
   'gbp': 22920205641.631516,
   'hkd': 246852385034.49002,
   'huf': 9293542056725.188,
   'idr': 453055600220128.1,
   'ils': 101666401083.74876,
   'inr': 2318692238912.686,
   'jpy': 3486610941758.4624,
   'krw': 36712613038843.58,
   'kwd': 9548362422.378077,
   'lkr': 6367230751208.908,
   'ltc': 139324088.05491364,
   'mmk': 52271493499887.27,
   'mxn': 632714965501.8658,
   'myr': 131714366265.20528,
   'ngn': 13072011577344.111,
   'nok': 275471551905.41693,
   'nzd': 44419363679.44291,
   'php': 1584136862608.4163,
   'pkr': 5311636624127.458,
   'pln': 120454082381.08104,
   'rub': 2312397934465.6084,
   'sar': 119128997420.57127,
   'sek': 271497091153.674,
   'sgd': 42593627536.802376,
   'thb': 1031733417651.9641,
   'try': 264259265225.54398,
   'twd': 877418085919.0012,
   'uah': 854398105811.0858,
   'usd': 31765191430.17128,
   'vef': 3180648617.903053,
   'vnd': 722178290231584.2,
   'xag': 1284455057.1070054,
   'xau': 17378418.5795324,
   'xdr': 22372732567.332546,
   'xlm': 80295963055.3068,
   'xrp': 24462514442.674877,
   'yfi': 739890.0119307449,
   'zar': 454583427372.60114,
   'bits': 614525028533.1014,
   'link': 955060432.9316299,
   'sats': 61452502853310.15}},
 'community_data': {'facebook_likes': None,
  'twitter_followers': 3156499,
  'reddit_average_posts_48h': 5.917,
  'reddit_average_comments_48h': 1072.167,
  'reddit_subscribers': 3327333,
  'reddit_accounts_active_48h': '4352.23076923077'},
 'developer_data': {'forks': 29822,
  'stars': 56827,
  'subscribers': 3843,
  'total_issues': 6440,
  'closed_issues': 5823,
  'pull_requests_merged': 8923,
  'pull_request_contributors': 748,
  'code_additions_deletions_4_weeks': {'additions': 1237, 'deletions': -1359},
  'commit_count_4_weeks': 275},
 'public_interest_stats': {'alexa_rank': 8474, 'bing_matches': None}}

In [7]:
coin_hist = cg.get_coin_history_by_id(id="bitcoin",date="06-12-2020",localization=False,vs_currency="usd")

In [24]:
import json
str_coin_hist = json.dumps(coin_hist)
data = json.loads(str_coin_hist)
df = pd.json_normalize(data['market_data'])

In [36]:
new_df = df.transpose()

In [39]:
new_df.insert(0, 'Coin_name', 'Bitcoin')

In [43]:
new_df

                  Coin_Name             0
current_price.aed   Bitcoin  7.029796e+04
current_price.ars   Bitcoin  1.562860e+06
current_price.aud   Bitcoin  2.577694e+04
current_price.bch   Bitcoin  6.698691e+01
current_price.bdt   Bitcoin  1.622833e+06
...                     ...           ...
total_volume.yfi    Bitcoin  7.942762e+05
total_volume.zar    Bitcoin  3.549961e+11
total_volume.bits   Bitcoin  1.219253e+12
total_volume.link   Bitcoin  1.771011e+09
total_volume.sats   Bitcoin  1.219253e+14

[183 rows x 2 columns]

In [50]:
#has all the information, market cap, price for every currency and the volume on that day
new_df.to_csv('kot.csv')